.app-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/assets/cinema-audit.png');
    background-size: cover;
    background-attachment: fixed;
}

ul.page-transition {
    position: fixed;
    display: flex;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

ul.page-transition li {
    transform: scaleY(0);
    background-color: rgb(20, 112, 119);;
    width: 20%;
}

.hide {
    display: none;
}