* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #434343, #000000);
}

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

li {
  list-style: none;
}